:root {
  --bg-main: #171717;
  --text-main: #ededed;
}

body,
html {
  width: 100%;
  color: var(--text-main);
  background: var(--bg-main);
  font-family: "Sora", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-green {
  background: #65d777;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mt1 {
  margin-top: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

main {
  width: 50%;
  margin: 0 auto;
}

content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

stop-watch {
  text-align: center;
  font-size: 1.625rem;
}

stop-watch > div {
  margin: 1rem 0;
}

.stopwatch-list-container {
  min-width: 20rem;
}

button {
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#addStopwatch-btn {
  width: 100%;
}

#stopwatch-title-form {
  width: 100%;
  padding: 0.3rem;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 1.125rem;
}

#stopwatch-container {
  max-width: 30rem;
  padding: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.219);
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.pause-btn {
  display: none;
}
